{% extends 'layout.html' %}
{% block content %}
	<div class="article create-post bg-light m-3">
                <div class="article-metadata p-2 m-3">
                  <img class = "rounded-circle article-img" src="{{url_for('static', filename ='images/default.jpg')}}"style=" height: 50px;swidth: 50px;">
                    <a class="account-user mr-2" href="#">{{ user }}</a>
                    <button class="btn col mt-3 mb-3" type="button"data-toggle="modal" data-target="#ModalScrollable">
                        Whats on your menu chef?
                    </button>   
                </div>
                <div class="modal" id="ModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title display-4" id="exampleModalCenteredLabel">New Post</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                          
                                <div class="form-group">
                                    {{ form.title.label(class="form-control-label") }}
                                    {% if form.title.errors %}
                                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.title.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.title(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                
                                <div class="form-group">
                                    <div class="row">
                                      {{ form.content.label(class="form-control-label col-2") }}

                                      <div class="col">
                                          {% if form.cuisine.errors %}
                                            {{ form.cuisine(class = "form-control is-invalid mb-3 w-50") }}
                                            <div class="invalid-feedback">
                                                {% for errors in form.cuisine.errors %}
                                                    <span>{{ errors }}</span>
                                                {% endfor %}
                                            </div>
                                          {% else %}
                                            {{ form.cuisine(class="form-control form-control-md mb-3 w-50 ml-auto") }}
                                          {% endif %}
                                      </div>
                                    </div>
                                    
                                    {% if form.content.errors %}
                                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.content.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.content(class="form-control form-control-lg content") }}
                                    {% endif %}
                                </div>
                              
                              <div class="form-group">
                                <a href="javascript:void(0)" class="btn upload"onclick="$('#upload_picture').click()">Add Image</a>
                                  {{ form.upload_picture(class="form-control-file", style="display:none;") }}
                                  {% if form.upload_picture.errors %}
                                    {% for error in form.upload_picture.errors %}
                                          <span class="text-danger">{{ error }}</span></br>
                                      {% endfor %}
                                  {% endif %}
                              </div>
                              
                              <div class="preview-images-zone">
                                  
                              </div>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-light btn-outline-dark col mt-3") }}
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="dropdown m-3">
              <button class="btn dropdown-toggle"
                      type="button" id="dropdownMenu1" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                Cuisine
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="{{ url_for('home', fltr ='Western') }}">Western</a>
                <a class="dropdown-item" href="{{ url_for('home', fltr ='Asian') }}">Asian</a>
                <a class="dropdown-item" href="{{ url_for('home', fltr ='European') }}">European</a>
                <a class="dropdown-item" href="{{ url_for('home', fltr ='Filipino') }}">Filipino</a>
              </div>
            </div>
           	{% for item in recipe %}
            <div class="post bg-light m-3 p-4">
                <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <img class = "rounded-circle article-img" src="{{url_for('static', filename ='images/default.jpg')}}"style=" height: 60px;width: 60px;">
                          <a class="ml-2 article-author" href="#">{{ item.username }}</a>
                          <small class="text-muted">{{item.timeDate}}</small>
                          <small class="ml-1 font-weight-bold">{{item.cuisine}}</small>

                            <button class="btn mt-3 ml-auto" onclick="save{{ item.recipe_id | string() }}recipe()" id="{{ item.recipe_id }}" name="{{ item.recipe_id }}"><i class='far fa-bookmark'></i></button>
                      </div>
                        <h2><a class="article-title display-4" href="{{ url_for('viewpost', recipe_id=item.recipe_id) }}">{{item.title}}</a></h2>
                        {% if item.image != None %}
                          <div class="col mb-3 d-flex justify-content-center">
                            <button type="button" class="btn" data-toggle="modal" data-target="#img-modal">
                              <img src="{{ item.image }}" alt="" class="article-content align-self-center post-img">
                            </button>
                          </div>
                          <div class="modal fade bd-example-modal-lg" id="img-modal" tabindex="-1" role="dialog"aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" style="height:fit-content; width: fit-content;">
                              <div class="modal-content">
                                <img src="{{ item.image }}" alt="" class="article-content align-self-center" style="height: 100%;">
                              </div>
                            </div>
                          </div>
                        {% endif %}
                        <p class="article-content m-3">{{item.description}}</p>
                    </div> 
                  </article>
                  <div class="row ml-1">
                    <div class="rate align-self-center">
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label for="star5" title="text">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" />
                      <label for="star4" title="text">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" />
                      <label for="star3" title="text">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" />
                      <label for="star2" title="text">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" />
                      <label for="star1" title="text">1 star</label>
                    </div>
                    <div class="col ml-4 align-self-center">
                      <a class="article-save" href="{{ url_for('viewpost', recipe_id=item.recipe_id) }}">View Comments</a>
                    </div>
                  </div>
            </div>
            

      <script>
          function save{{ item.recipe_id | string() }}recipe() {
          recipe_id = document.getElementById("{{ item.recipe_id | string() }}").name;
          
          fetch('saved/' + recipe_id.parseInt()).then(function(response){
            response.json().then(function(data){
              if (document.getElementById("{{ item.recipe_id | string() }}").classList.contains('saved')) {
                document.getElementById("{{ item.recipe_id | string() }}").classList.remove('saved');
              }else{
                document.getElementById("{{ item.recipe_id | string() }}").classList.add('saved');
              }
            });
          });

          
        };
      </script>
      {% endfor %}


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

    <script>
      $(document).ready(function() {
    document.getElementById('upload_picture').addEventListener('change', readImage, false);
    

    
    $(document).on('click', '.image-cancel', function() {
        let no = $(this).data('no');
        $(".preview-image.preview-show-"+no).remove();
    });
});
var num = 4;
function readImage() {
    if (window.File && window.FileList && window.FileReader) {
        var files = event.target.files;
        var output = $(".preview-images-zone");

        for (let i = 0; i < files.length; i++) {
            var file = files[i];
            if (!file.type.match('image')) continue;
            
            var picReader = new FileReader();
            
            picReader.addEventListener('load', function (event) {
                var picFile = event.target;
                var html =  '<div class="preview-image preview-show-' + num + '">' +
                            '<div class="image-cancel" data-no="' + num + '">x</div>' +
                            '<div class="image-zone"><img id="pro-img-' + num + '" src="' + picFile.result + '"></div>' +
                            '</div>';

                output.append(html);
                num = num + 1;
            });

            picReader.readAsDataURL(file);
        }
    } else {
        console.log('Browser not support');
    }
}
  </script>
{% endblock content %}