<!DOCTYPE html>
<html lang="en">
<head>
  {% if title %}
    <title>Cuisina | {{title}}</title>
  {% else %}
    <title>Cuisina</title>
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css')}}">

  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <header class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 fixed-top">
            <form class="form-inline col-5 ml-5" method="POST">
                <img src="{{url_for('static', filename='images/icons/search.png')}}" class="mr-3">
                <input class="form-control mr-sm-2 col-8" type="search" placeholder="Search Recipes" aria-label="Search" name=search>
                <input class="btn del-btn my-2 my-sm-0" value="Search" type="submit"/> 
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
              {% if active == 'profile' and profile[0][1] %}
                <ul class="navbar-nav pl-0">
                    <li class="nav-item">
                      {% if active == 'home' %}
                        <a class="nav-link active p-4" href="/filter">FOOD FEED</a>
                      {% else %}
                          <a class="nav-link  p-4" href="/filter">FOOD FEED</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                      {% if active == 'hot' %}
                        <a class="nav-link active p-4" href="#">HOT<i class='fas fa-fire m-0 ml-2'></i></a>
                      {% else %}
                          <a class="nav-link p-4" href="#">HOT<i class='fas fa-fire m-0 ml-2'></i></a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                      {% if active == 'order' %}
                          <a class="nav-link active p-4" href="/orderfilter">ORDERS FEED</a>
                        {% else %}
                          <a class="nav-link p-4" href="/orderfilter">ORDERS FEED</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">   
                        <a class="nav-link active ml-4" href="{{ url_for('profile', user_id=user[0][0], fltr='recipes') }}" style="padding: .5em 1em .8em 1em;">
                          <img class = "rounded-circle m-0 p-0" src="{{ user[0][4] }}" 
                          style=" height:50px; width: 50px; margin: 1px 0 0 0 !important; padding: 0 !important;">
                        </a>
                    </li>
                    <li class="nav-item">
                      {% if user_request %}  
                        <a class="nav-link active p-4" href="{{ url_for('profile', user_id=user[0][0], fltr='friendReq') }}"><i class='fas fa-bell'></i></a>
                      {% else %}
                        <a class="nav-link p-4" href="{{ url_for('profile', user_id=user[0][0], fltr='friendReq') }}"><i class='fas fa-bell'></i></a>
                      {% endif %}
                    </li>
                     <li class="nav-item">   
                       <a class="nav-link p-4" href="/logout">Logout</a>
                    </li>
                </ul>
              {% elif active != 'profile' %}
                <ul class="navbar-nav pl-0">
                    <li class="nav-item">
                      {% if active == 'home' %}
                        <a class="nav-link active p-4" href="/filter">FOOD FEED</a>
                      {% else %}
                          <a class="nav-link  p-4" href="/filter">FOOD FEED</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                      {% if active == 'hot' %}
                        <a class="nav-link active p-4" href="#">HOT<i class='fas fa-fire m-0 ml-2'></i></a>
                      {% else %}
                          <a class="nav-link p-4" href="#">HOT<i class='fas fa-fire m-0 ml-2'></i></a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                      {% if active == 'order' %}
                          <a class="nav-link active p-4" href="/orderfilter">ORDERS FEED</a>
                        {% else %}
                          <a class="nav-link p-4" href="/orderfilter">ORDERS FEED</a>
                        {% endif %}
                    </li>
            
                    <li class="nav-item">   
                        <a class="nav-link ml-4" href="{{ url_for('profile', user_id=user[0][0], fltr='recipes') }}" style="padding: .5em 1em .8em 1em;">
                          <img class = "rounded-circle m-0 p-0" src="{{ user[0][4] }}" 
                          style=" height:50px; width: 50px;  margin: 1px 0 0 0 !important; padding: 0 !important;">
                        </a>
                    </li>
                    <li class="nav-item">
                      {% if user_request %}  
                        <a class="nav-link active p-4" href="{{ url_for('profile', user_id=user[0][0], fltr='friendReq') }}"><i class='fas fa-bell'></i></a>
                      {% else %}
                        <a class="nav-link p-4" href="{{ url_for('profile', user_id=user[0][0], fltr='friendReq') }}"><i class='fas fa-bell'></i></a>
                      {% endif %}
                    </li>

                     <li class="nav-item">   
                       <a class="nav-link p-4 ml-4" href="/logout">Logout</a>
                    </li>
                </ul>
              {% else %}
                <ul class="navbar-nav pl-5">
                    <li class="nav-item">
                        <a class="disabled nav-link  p-4" href="/filter">FOOD FEED</a>
                    </li>
                    <li class="nav-item">
                        <a class="disabled nav-link p-4" href="#">HOT<i class='fas fa-fire m-0 ml-2'></i></a>

                    </li>
                    <li class="nav-item">
                        <a class="disabled nav-link p-4" href="/orderfilter">ORDERS FEED</a>
                    </li>
                     <li class="nav-item">   
                       <a class="nav-link p-4 ml-4" href="/logout">Logout</a>
                    </li>
                </ul>
              {% endif %}

            </div>
          </nav>
    </header>
     <div class="body-sect row pt-4">


      {% if active == 'profile' %}
        <div class="col-4 article sidebar" style="display: none">
            <div class="sidebar-info-sect">
              <div class="sidebar-top">
                <a class="sidebar-info " href="{{ url_for('profile', user_id=user[0][0], fltr='recipe') }}">
                    <img class = "rounded-circle article-img mr-2" src="{{ user[0][4] }}" style=" height: 50px;width: 50px;">
                    {{user[0][1]}}
                </a>
                {% if active == 'master' %}
                  <a class="sidebar-info active" href="#">Master Chef's</a>
                {% else %}
                  <a class="sidebar-info" href="#">Master Chef's</a>
                {% endif %}

                {% if active == 'saved' %}
                  <a class="sidebar-info active" href="{{ url_for('saved_filter', user_id = user[0][0]) }}">Saved Recipes</a>
                {% else %}
                  <a class="sidebar-info" href="{{ url_for('saved_filter', user_id = user[0][0]) }}">Saved Recipes</a>
                {% endif %}

                {% if active == 'friends' %}
                  <a class="sidebar-info active" href="{{ url_for('profile', user_id = user[0][0], fltr='Allfriend') }}">Friend's List</a>
                {% else %}
                  <a class="sidebar-info" href="{{ url_for('profile', user_id = user[0][0], fltr='Allfriend') }}">Friend's List</a>
                {% endif %}
              </div>
        
            </div>
        </div>
      {% else %}


        <div class="col-4 article sidebar">
            <div class="sidebar-info-sect">
              <div class="sidebar-top">
                <a class="sidebar-info " href="{{ url_for('profile', user_id=user[0][0], fltr='recipes')  }}">
                    <img class = "rounded-circle article-img mr-2" src="{{ user[0][4] }}" style=" height: 50px;width: 50px;">
                    {{user[0][1]}}
                </a>
                {% if active == 'master' %}
                  <a class="sidebar-info active" href="#">Master Chef's</a>
                {% else %}
                  <a class="sidebar-info" href="#">Master Chef's</a>
                {% endif %}

                {% if active == 'saved' %}
                  <a class="sidebar-info active" href="{{ url_for('saved_filter', user_id = user[0][0]) }}">Saved Recipes</a>
                {% else %}
                  <a class="sidebar-info" href="{{ url_for('saved_filter', user_id = user[0][0]) }}">Saved Recipes</a>
                {% endif %}

                {% if active == 'friends' %}
                  <a class="sidebar-info active" href="{{ url_for('profile', user_id = user[0][0], fltr='Allfriend') }}">Friend's List</a>
                {% else %}
                  <a class="sidebar-info" href="{{ url_for('profile', user_id = user[0][0], fltr='Allfriend') }}">Friend's List</a>
                {% endif %}
              </div>
              <div class="article article-metadata">
                    <div class="suggested-chef bg-light">
                        <h1 class="sidebar-info mb-4">Suggested Chef</h1>
                        {% for item in suggested_chef %}
                        <div>
                            <img class = "rounded-circle article-img" src="{{item[4]}}">
                        </div>
                        <div class="article-metadata mt-2">
                            <a class="sidebar-info " href="{{ url_for('viewProfile', user_id=item[0], fltr='recipes') }}">{{item[1]}}</a>
                        </div>
                        {% endfor %}
                    </div>
              </div>
            </div>
        </div>
      {% endif %}
      {% if active != 'profile' %}
        <div class="col-8 post-sect">
      {% else %}
        <div class="col-11 post-sect">
      {% endif %}
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="width:38em; margin-left: 12em;">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {% block content %}{% endblock %}
          </div>
        
     </div>
  
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>
</body>
</html>