<!DOCTYPE html>
<html lang="en">
<head>
	{% if title %}
		<title>Cuisina | {{title}}</title>
	{% else %}
		<title>Cuisina</title>
	{% endif %}

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css')}}">

	<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="#">
</head>
<body>
	 <header class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 fixed-top">
            <form class="form-inline col-6 ml-5">
                <img src="{{url_for('static', filename='images/icons/search.png')}}" alt="default" class="mr-3">
                <input class="form-control mr-sm-2 col-10" type="search" placeholder="Search" aria-label="Search">
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav pl-5">
                <li class="nav-item">
                	{% if active == 'home' %}
                		<a class="nav-link active p-4" href="#">FOOD FEED</a>
                	{% else %}
                  		<a class="nav-link  p-4" href="#">FOOD FEED</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                	{% if active == 'hot' %}
                		<a class="nav-link active p-4" href="#">HOT<i class='fas fa-fire m-0 ml-2'></i></a>
                	{% else %}
                  		<a class="nav-link p-4" href="#">HOT<i class='fas fa-fire m-0 ml-2'></i></a>
                  	{% endif %}
                </li>
                <li class="nav-item">
                	{% if active == 'order' %}
                  		<a class="nav-link active p-4" href="#">ORDERS FEED</a>
                  	{% else %}
                  		<a class="nav-link p-4" href="#">ORDERS FEED</a>
                  	{% endif %}

                </li>
              </ul>

            </div>
          </nav>
    </header>
     <div class="body-sect row pt-4">
        <div class="col-4 article sidebar">
            <div class="sidebar-info-sect">
              <div class="sidebar-top">
                <a class="sidebar-info " href='/profile'>
                  	<img class = "rounded-circle article-img" alt="default" src="{{url_for('static', filename=image_file)}}" style=" height: 50px;width: 50px;">
                  	{{user}}
                </a>
                <a class="sidebar-info" href="#">Master Chef's</a>
                <a class="sidebar-info" href="#">Saved Recipes</a>
                <a class="sidebar-info" href="#">Friend's List</a>
              </div>
              <div class="article article-metadata">
                    <div class="suggested-chef bg-light">
                        <h1 class="sidebar-info mb-4">Suggested Chef</h1>
                        <div>
                            <img class = "rounded-circle article-img" alt="default" src="{{url_for('static', filename=suggested_img)}}">
                        </div>
                        <div class="article-metadata mt-2">
                            <a class="sidebar-info " href='/userProfile'>{{suggested_chef}}</a>
                        </div>
                    </div>
              </div>
            </div>
        </div>
        <div class="col-8 post-sect">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
     </div>

	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>
</body>
</html>