 <div class>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class = "alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
 </div>
<h1>Finish sign up at profile<h1>
<h2>current datas:</h2>
{% for item in user %}
  <p>user id: {{ item[0] }}<p>
  <p>username: {{ item[2] }}</p>
  <p>email: {{ item[3] }}</p>
{% endfor %}
