{% extends "layout.html" %}
{% block content %}
           <div class="article profile-sect bg-light w-100 m-3">
                <div class="article-metadata account-head row m-3">
                  <img class = "rounded-circle article-img profile-img" src="{{url_for('static', filename=image_file)}}" style=>
                    <div class="d-flex flex-column account-detail  ml-2 align-self-center">
                        <a class="account-username" href='/profile'>{{ user }}</a>
                        <p class="account-motto ml-2 mb-0" href="#">Pancit Canton Lord</p>
                        <p><button type="submit" class="btn m-0 mt-2">Log out</button></p>
                    </div>
                    <div class="align-self-center ml-auto medal">
                      <h6 class="m-1">Executive Chef</h6>
                      <button class="btn" data-toggle="modal" data-target=".rank-modal">
                        <img class = "rounded-circle article-img" src="{{url_for('static', filename=image_file)}}">
                      </button>

                      <div class="modal fade rank-modal" tabindex="-1" role="dialog"
                          aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              ...
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="article account-info m-4">
                    <form action="/updateProfile" id="form-demo profile-details m-4" method='post' enctype="multipart/form-data">
                          <div class="form-group">
                            {{ form.fname.label(class="form-control-label") }}
                            {% if form.fname.errors %}
                                {{ form.fname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.fname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.fname(class="form-control form-control-lg") }}
                            {% endif %}
                          </div>
                          <div class="form-group">
                            {{ form.lname.label(class="form-control-label") }}
                            {% if form.lname.errors %}
                                {{ form.lname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.lname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.lname(class="form-control form-control-lg") }}
                            {% endif %}
                          </div>
                          <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                          </div>
                          <div class="age-gender">
                              <div class="row m-0">
                                <div class="form-group col-4">
                                    {{ form.age.label(class="form-control-label") }}
                                    {% if form.age.errors %}
                                        {{ form.age(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.age.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.age(class="form-control form-control-lg") }}
                                    {% endif %}
                              </div>
                              <div class="form-group col-8">
                                <div class="container-fluid gender">
                                    <label>Gender:</label><br>
                                    <select class="custom-select">
                                      <option selected>Select Gender</option>
                                      <option value="1">Male</option>
                                      <option value="2">Female</option>
                                    </select>
                                </div>
                              </div>
                              <div class="form-group">
                                  {{ form.picture.label() }}
                                  {{ form.picture(class="form-control-file") }}
                                  {% if form.picture.errors %}
                                      {% for error in form.picture.errors %}
                                          <span class="text-danger">{{ error }}</span></br>
                                      {% endfor %}
                                  {% endif %}
                              </div>
                              <div class="form-group align-self-center">
                                  <div class="container-fluid">
                                      {{ form.submit(class="btn m-0 mt-2") }}
                                  </div>
                              </div>
                            </div>
                          </div>
                    </form>
                </div>
                </div>
                <div class="post bg-light m-3 p-4">
                <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <img class = "rounded-circle article-img" src="{{url_for('static', filename=image_file)}}">
                          <a class="ml-2 article-author" href='/profile'>{{ user }}</a>
                          <small class="text-muted">September 30, 2020</small>
                          <button class="btn mt-3 ml-auto" type="button"><i class='far fa-bookmark'></i></button>
                      </div>
                        <h2><a class="article-title display-4" href="#">Sinigang na makahigugma</a></h2>
                        <p class="article-content">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
                    </div>
                  </article>
                  <div class="row ml-1">
                    <div class="rate align-self-center">
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label for="star5" title="text">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" />
                      <label for="star4" title="text">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" />
                      <label for="star3" title="text">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" />
                      <label for="star2" title="text">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" />
                      <label for="star1" title="text">1 star</label>
                    </div>
                    <div class="col ml-4 align-self-center">
                      <a class="article-save" href="#">View Comments</a>
                    </div>
                  </div>
                </div>
                <div class="post bg-light m-3 p-4">
                    <article class="media content-section">
                        <div class="media-body">
                          <div class="article-metadata">
                            <img class = "rounded-circle article-img" src="{{url_for('static', filename=image_file)}}">
                              <a class="ml-2 article-author" href='/profile'>{{ user }}</a>
                              <small class="text-muted">September 30, 2020</small>
                              <button class="btn mt-3 ml-auto" type="button"><i class='far fa-bookmark'></i></button>
                          </div>
                            <h2><a class="article-title display-4" href="#">Sinigang na makahigugma</a></h2>
                            <p class="article-content">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
                        </div>
                    </article>
                      <div class="row ml-1">
                        <div class="rate align-self-center">
                          <input type="radio" id="star5" name="rate" value="5" />
                          <label for="star5" title="text">5 stars</label>
                          <input type="radio" id="star4" name="rate" value="4" />
                          <label for="star4" title="text">4 stars</label>
                          <input type="radio" id="star3" name="rate" value="3" />
                          <label for="star3" title="text">3 stars</label>
                          <input type="radio" id="star2" name="rate" value="2" />
                          <label for="star2" title="text">2 stars</label>
                          <input type="radio" id="star1" name="rate" value="1" />
                          <label for="star1" title="text">1 star</label>
                        </div>
                        <div class="col ml-4 align-self-center">
                          <a class="article-save" href="#">View Comments</a>
                        </div>
                      </div>
                </div>
                <div class="post bg-light m-3 p-4">
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata">
                                <img class = "rounded-circle article-img" src="{{url_for('static', filename=image_file)}}">
                                <a class="ml-2 article-author" href='/profile'>{{ user }}</a>
                                <small class="text-muted">September 30, 2020</small>
                                <button class="btn mt-3 ml-auto" type="button"><i class='far fa-bookmark'></i></button>
                            </div>
                            <h2><a class="article-title display-4" href="#">Sinigang na makahigugma</a></h2>
                            <div class="col mb-3 d-flex justify-content-center">
                              <button type="button" class="btn" data-toggle="modal" data-target="#img-modal">
                                <img src="{{url_for('static', filename='images/default.jpg')}}" alt="" class="article-content align-self-center">
                              </button>
                            </div>
                            <p class="article-content">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
                        </div>
                      </article>
                      <div class="row ml-1">
                        <div class="rate align-self-center">
                          <input type="radio" id="star5" name="rate" value="5" />
                          <label for="star5" title="text">5 stars</label>
                          <input type="radio" id="star4" name="rate" value="4" />
                          <label for="star4" title="text">4 stars</label>
                          <input type="radio" id="star3" name="rate" value="3" />
                          <label for="star3" title="text">3 stars</label>
                          <input type="radio" id="star2" name="rate" value="2" />
                          <label for="star2" title="text">2 stars</label>
                          <input type="radio" id="star1" name="rate" value="1" />
                          <label for="star1" title="text">1 star</label>
                        </div>
                        <div class="col ml-4 align-self-center">
                          <a class="article-save" href="#">View Comments</a>
                        </div>
                      </div>
                      <div class="modal fade bd-example-modal-lg" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="height:fit-content; width: fit-content;">
                          <div class="modal-content">
                            <img src="{{url_for('static', filename=image_file)}}" alt="" class="article-content align-self-center" style="height: 100%;">
                          </div>
                        </div>
                      </div>
                </div>
{% endblock %}