{% extends 'layout.html' %}
{% block content %}
  {% if recipe %}
  	{% for item in recipe %}
              <div class="post bg-light m-3 p-4">
                  <article class="media content-section">
                      <div class="media-body">
                        <div class="article-metadata">
                          <img class = "rounded-circle article-img" src="{{url_for('static', filename ='images/default.jpg')}}"style=" height: 60px;width: 60px;">
                            <a class="ml-2 article-author" href="#">{{ item[9] }}</a>
                            <small class="text-muted">{{ item[3].strftime("%b %d %Y, %I:%M %p")  }}</small>
                            <small class="ml-1 font-weight-bold">{{item[4]}}</small>
                            {% if recipe[0][5] == True %}
                              <p  class="disabled-btn saved mt-3 ml-auto p-2"><i class='far fa-bookmark'></i></p>
                            {% else %}
                              <p  class="disabled-btn mt-3 ml-auto p-2"><i class='far fa-bookmark'></i></p>
                            {% endif %}   
                        </div>
                          <h2><a class="article-title display-4" href="{{ url_for('viewpost', recipe_id=item[0]) }}">{{ item[1] }}</a></h2>
                          {% if item[8] != None %}
                            <div class="col mb-3 d-flex justify-content-center">
                              <button type="button" class="btn" data-toggle="modal" data-target="#recipe{{ item[0] | string()}}">
                                <img src="{{ item[8] }}" alt="" class="article-content align-self-center post-img">
                              </button>
                            </div>
                            <div class="modal fade bd-example-modal-lg" id="recipe{{ item[0] | string() }}" tabindex="-1" role="dialog"aria-labelledby="myLargeModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg" style="height:fit-content; width: fit-content;">
                                <div class="modal-content">
                                  <img src="{{ item[8] }}" alt="" class="article-content align-self-center" style="height: 100%;">
                                </div>
                              </div>
                            </div>
                          {% endif %}
                          <p class="article-content m-3">{{ item[2] }}</p>
                      </div> 
                    </article>
                    <div class="row ml-1">
                      <div class="star-widget">
                        {% if item[6] == 5 %}
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                        {% elif item[6] == 4 %}
                         <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                        {% elif item[6] == 3 %}
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        {% elif item[6] == 2 %}
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        {% elif item[6] == 1 %}
                         <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        {% else %}
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        {% endif %} 
                        <small class="ml-2">Average Rating</small>
                      </div>

                      <div class="col ml-4 align-self-center">
                        <a class="article-save" href="{{ url_for('viewpost', recipe_id=item[0]) }}">View Comments</a>
                      </div>
                    </div>
              </div>
            {% endfor %}
      {% else %}
        <div class="mt-5 article-title display-4" style="color:var(--primary-color);"> No Saved Recipe</div>
      {% endif %}

{% endblock content %}