{% extends 'layout.html' %}
{% block content %}
	{% for item in recipe %}
            <div class="post bg-light m-3 p-4">
                <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <img class = "rounded-circle article-img" src="{{url_for('static', filename ='images/default.jpg')}}"style=" height: 60px;width: 60px;">
                          <a class="ml-2 article-author" href="#">{{ item.username }}</a>
                          <small class="text-muted">{{item.timeDate}}</small>
                          <small class="ml-1 font-weight-bold">{{item.cuisine}}</small>
                      </div>
                        <h2><a class="article-title display-4" href="{{ url_for('viewpost', recipe_id=item.recipe_id) }}">{{item.title}}</a></h2>
                        {% if item.image != None %}
                          <div class="col mb-3 d-flex justify-content-center">
                            <button type="button" class="btn" data-toggle="modal" data-target="#img-modal">
                              <img src="{{ item.image }}" alt="" class="article-content align-self-center post-img">
                            </button>
                          </div>
                          <div class="modal fade bd-example-modal-lg" id="img-modal" tabindex="-1" role="dialog"aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" style="height:fit-content; width: fit-content;">
                              <div class="modal-content">
                                <img src="{{ item.image }}" alt="" class="article-content align-self-center" style="height: 100%;">
                              </div>
                            </div>
                          </div>
                        {% endif %}
                        <p class="article-content m-3">{{item.description}}</p>
                    </div> 
                  </article>
                  <div class="row ml-1">
                    <div class="star-widget">
                      {% if item.rate == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                      {% elif item.rate == 4 %}
                       <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                      {% elif item.rate == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif item.rate == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif item.rate == 1 %}
                       <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% else %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% endif %} 
                      <small class="ml-2">Average Rating</small>
                    </div>

                    <div class="col ml-4 align-self-center">
                      <a class="article-save" href="{{ url_for('viewpost', recipe_id=item.recipe_id) }}">View Comments</a>
                    </div>
                  </div>
            </div>
    {% endfor %}
{% endblock content %}