<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuisina | Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/signUp.css') }}" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top solid">
      <div class="container">
        <a href="#" class="navbar-brand"><h1 class="welcome">CUISINA</h1></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navCollapse"
        >
          <span class="navbar-toggler-icon mr-auto"></span>
        </button>

        <div class="collapse navbar-collapse" id="navCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="navbar-item pr-5">
              <a href="#" class="nav-link"> Sign Up </a>
            </li>
            <li class="navbar-item pr-4">
              <a href="#" class="nav-link"> About </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid signUp">
      <div class="quote">
        <div class="lead">
          “Kitchens are hard environments and they form a incredibly strong
          characters“- Gordon Ramsay
        </div>
        <div class="sign-now">
          <h1>Sign Up <br />&nbsp&nbspNow!</h1>
        </div>
        <div class="down-btn">
          <a href="#sign-up-form"></a>
        </div>
      </div>
      <div class="container fields-cont">
        <div class="sign-up" id="sign-up-form">
          <form method="POST" class="p-0">
             {{ form.csrf_token }}
             {{ form.hidden_tag() }}
             {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class = "alert alert-{{ category }} w-75 m-0">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
              {% endwith %}
            <div class="form-group pt-2">
              {{ form.email.label }}
              {% if form.email.errors %}
                {{ form.email(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.email.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.email(class="form-control") }}
              {% endif %}
            </div>
            <div class="form-group pt-1">
              {{ form.username.label }}
              {% if form.username.errors %}
                {{ form.username(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.username.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.username(class="form-control") }}
              {% endif %}
            </div>
            <div class="form-group pt-1">
              {{ form.password.label }}
              {% if form.password.errors %}
                {{ form.password(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.password.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.password(class="form-control") }}
              {% endif %}
            </div>
            {{ form.submit(class="btn") }}
          </form>
          <div class="pt-3">
            <small>
              Already have an account? |<a class="ml-2" href="#">Login</a>
            </small>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
