{% extends "layout.html" %}
{% block content %}
           <div class="article profile-sect bg-light">
             <div class="prof-details row p-4 ">
                    <img class="prof-img rounded-circle article-img ml-4" src="{{ other_user[0][4] }}"  />

                    <div class="col-3 mt-3 names" style="margin-left: 2em">
                      <h1 class="username" style="font-weight:lighter;">{{other_user[0][1]}}</h1>
                      <p class="m-1 font-weight-bold">{{ profile[0][1] }} {{ profile[0][2] }}</p>
                      <p class="m-1">{{other_user[0][2]}}</p>
                        {% if request %}
                          <a href="{{ url_for('removeFriend', current_user=user[0][0], other_user=other_user[0][0]) }}"  type="button" style="font-size: .8em !important;"class="btn m-0 mt-3">Cancel Friend Request</a>
                        {% elif isFrnd %}
                          <a href="{{ url_for('removeFriend', current_user=user[0][0], other_user=other_user[0][0]) }}"  type="button" style="font-size: .8em !important;"class="btn m-0 mt-3">Remove Friend</a>
                        {% elif other_request %}

                          <a href="{{ url_for('acceptFriend', current_user=user[0][0], other_user=other_user[0][0]) }}"  type="button" style="font-size: .8em !important;"class="btn m-0 mt-3 ">Accept Request</a>
                          <a href="{{ url_for('removeFriend', current_user=user[0][0], other_user=other_user[0][0]) }}"  type="button" style="font-size: .8em !important;"class="btn m-0 mt-3">Delete Request</a>

                        {% else %}
                          <a href="{{ url_for('addFriend', current_user=user[0][0], other_user=other_user[0][0]) }}"  type="button" style="font-size: .8em !important;"class="btn m-0 mt-3 ">Add as Friend</a>
                        {% endif %}
                    </div>
                    
                    <div class="col-2 m-0 p-0">
                      <button type="button" class="btn m-0 mt-4 edit-btn" type="button" data-toggle="modal" data-target="#ModalScrollable">
                        About {{other_user[0][1]}}
                      </button>
                      
                        <div class="modal" id="ModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel"ria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalCenteredLabel">About {{other_user[0][1]}}</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body p-3">
                                        <div class="row">
                                          <div class="other-image col-4">
                                             <img class="prof-img rounded-circle article-img mt-2" src="{{ other_user[0][4] }}" style="height: 15em !important; width: 15em !important;" />
                                          </div>
                                          <div class="other-about col">
                                              <h1 class="username display-4" style="font-weight:lighter;">{{other_user[0][1]}}</h1>
                                              <div class="row mb-3">
                                                <div class="col fname">
                                                  <h5 class="font-weight-bold">First Name</h5>
                                                  <h4 style="font-weight: lighter;">{{ profile[0][1] }}</h4>
                                                </div>
                                                <div class="col lname">
                                                  <h5 class="font-weight-bold">Last Name</h5>
                                                  <h4 style="font-weight: lighter;">{{ profile[0][2] }}</h4>
                                                </div>
                                              </div>
                                              <div class="row mb-3">
                                                <div class="col email">
                                                  <h5 class="font-weight-bold">Email</h5>
                                                  <h4 style="font-weight: lighter;">{{ other_user[0][2] }}</h4>
                                                </div>
                                                <div class="col bdate">
                                                  <h5 class="font-weight-bold">Birthday</h5>
                                                  <h4 style="font-weight: lighter;">{{ profile[0][3] }}</h4>
                                                </div>
                                              </div>
                                              <div class="row mb-3">
                                                <div class="col-4  gender">
                                                  <h5 class="font-weight-bold">Gender</h5>
                                                  <h4 style="font-weight: lighter;">{{ profile[0][4] }}</h4>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                    </div>
                     
                    
                    <div class="align-self-center ml-auto medal col-2 p-0" style="text-align: center;">
                      <h6 class="m-1">{{ rank_name }}</h6>
                      <img class = "rounded-circle article-img" src="{{ url_for('static', filename=rank_images) }}"
                          style="height:8em; width: 11em;">
                    </div>  
              </div>
            </div>
            
            {% if fltr != 'Allfriend' %}
            <div class="row">
              <div class="col-6 order-1 ">
                  <div class="post bg-light profile-sidebar p-3 mt-2 mb-4" style="color: var(--primary-color); margin-left: 10em; width: 28.5em;">
                    <div class="row">
                      <h1 class="col">Friends</h1>
                      <a href="{{ url_for('viewProfile', user_id = other_user[0][0], fltr='Allfriend') }}" class="col-4 mt-3">See All Friends</a>
                    </div>
                    <div class="row p-2">
                      {% if friendsList %}
                       {% for item in friendsList %}
                          <div class="col-4 mb-3 p-0 m-0" style="width: 100%;">
                            {% if item[0] == user[0][0] %}
                              <div class="row p-0 m-0 friend">
                                  <div class="col p-0 m-0">
                                    <a class="ml-3" href="{{ url_for('profile', user_id=item[0], fltr='recipes') }}"><img class = "article-img mr-3" src="{{ item[2] }}" style=" height:110px; width: 110px; border-radius: 5px;"></a>
                                  </div>
                                  <div class="col m-0 p-0">
                                    <a class="ml-2 font-weight-bold" href="{{ url_for('profile', user_id=item[0], fltr='recipes') }}">{{ item[1] }}</a>
                                  </div>
                              </div>
                            {% else %}
                                <div class="row p-0 m-0 friend">
                                  <div class="col p-0 m-0">
                                    <a class="ml-3" href="{{ url_for('viewProfile', user_id=item[0], fltr='recipes') }}"><img class = "article-img mr-3" src="{{ item[2] }}" style=" height:110px; width: 110px; border-radius: 5px;"></a>
                                  </div>
                                  <div class="col m-0 p-0">
                                    <a class="ml-2 font-weight-bold" href="{{ url_for('viewProfile', user_id=item[0], fltr='recipes') }}">{{ item[1] }}</a>
                                  </div>
                                </div>
                            {% endif %}
                          </div>      
                        {% endfor %}
                        {% else %}
                          <div class="col mb-3 p-0 m-0" style="width: 100%;">
                              <div class="display-4">This Chef is Lonely</div>
                              <p class="ml-5">How About you add the lonely chef?</p>
                          </div>
                      {% endif %}
                    </div>
                  </div>
              </div>
              <div class="col-6 p-0  m-0 order-2">
                  {% if profile[0][1] %}
                    <div class="post col row bg-light p-2 mt-2 mb-2" style="color: var(--primary-color); margin-left: .3em; width:39.3em;">

                      <h3 class="col mt-1" style="color:var(--primary-color);">Posts</h3>
                      
          
                        <button type="button" class="btn del-btn col-2 h-25 mt-1" data-toggle="modal" data-target="#exampleModalCentered" style="font-size: 1em !important; float: right; border:1px solid var(--primary-color);">
                          <i class='fas fa-filter m-0 mr-1'></i>
                          Filter
                        </button>


                        <div class="modal fade" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" style="height: fit-content !important;">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenteredLabel">Add Filter</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                {% if fltr == 'recipes' %}
                                  <a href="{{ url_for('viewProfile', user_id=other_user[0][0], fltr='recipes') }}" style="font-size: 1em !important;"class="home-fltr home-fltr-active">Recipes</a>
                                {% else %}
                                  <a href="{{ url_for('viewProfile', user_id=other_user[0][0], fltr='recipes') }}" style="font-size: 1em !important;"class="home-fltr">Recipes</a>
                                {% endif %}

                                {% if fltr == 'orders' %}
                                  <a href="{{ url_for('viewProfile', user_id=other_user[0][0], fltr='orders') }}" style="font-size: 1em !important;"class="home-fltr home-fltr-active">Order</a>
                                {% else %}
                                  <a href="{{ url_for('viewProfile', user_id=other_user[0][0], fltr='orders') }}" style="font-size: 1em !important;"class="home-fltr">Order</a>
                                {% endif %}
                                
                                
                              
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% for item in recipe %}
                      <div class="post col bg-light p-0 mt-2 mb-4" style="color: var(--primary-color); margin-left: .3em; width:40em;">
                          <article class="media content-section">
                              <div class="media-body">
                                <div class="article-metadata m-3">
                                  <img class = "rounded-circle article-img" src="{{ item[11] }}" style=" height:40px; width: 40px;">
                                    {% if item[7] == user[0][0] %}
                                    <a class="ml-2 article-author" href="{{ url_for('profile', user_id=item[7], fltr='recipes') }}">{{ item[10] }}</a>
                                    {% else %}
                                    <a class="ml-2 article-author" href="{{ url_for('viewProfile', user_id=item[7], fltr='recipes') }}">{{ item[10] }}</a>
                                    {% endif %}
                                    <small class="ml-2 font-weight-bold">{{item[4]}}</small>
                                    {% if item[8] == user[0][0] %}
                                      <p  class="disabled-btn saved  ml-auto p-2"><i class='far fa-bookmark' style="font-size: 1em"></i></p>
                                    {% else %}
                                      <p  class="disabled-btn ml-auto p-2"><i class='far fa-bookmark' style="font-size: 1em"></i></p>
                                    {% endif %} 
                                </div>
                                  {% if item[9] != None %}
                                    <div class="col m-0 d-flex p-0 justify-content-center" style="width: 100%;">
                                      <a href="{{ url_for('viewpost', recipe_id=item[0]) }}" type="button" class="btn m-0 p-0" style="height: fit-content;">
                                        <img src="{{ item[9] }}" alt="" class="article-content align-self-center m-0 p-0 post-img">
                                      </a>
                                    </div>
                                    <small class="text-muted m-0 ml-3">{{ item[3].strftime("%b %d %Y, %I:%M %p")  }}</small><br>
                                    <a class="article-title ml-3 font-weight-bold" href="{{ url_for('viewpost', recipe_id=item[0]) }}">{{ item[1] }}</a>
                                    <p class="article-content ml-3"style="white-space: pre-wrap;
                                      overflow-wrap: break-word;">{{ item[2] | truncate(100) }}</p>
                                  {% else %}
                                     <a class="article-title ml-3 font-weight-bold" href="{{ url_for('viewpost', recipe_id=item[0]) }}">{{ item[1] }}</a>
                                      <p class="article-content ml-3 mb-0"style="white-space: pre-wrap;
                                      overflow-wrap: break-word;">{{ item[2] | truncate(100) }}</p>
                                     <small class="text-muted m-0 ml-3" style="margin-top: 0em !important">{{ item[3].strftime("%b %d %Y, %I:%M %p")  }}</small>
                                  {% endif %}
                              </div> 
                            </article>
                            <div class="row ml-3">
                              <div class="star-widget">
                                {% if item[6] == 5 %}
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                {% elif item[6] == 4 %}
                                 <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                {% elif item[6] == 3 %}
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                {% elif item[6] == 2 %}
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                {% elif item[6] == 1 %}
                                 <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                {% else %}
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                {% endif %} 
                                <small class="ml-2">Average Rating</small>
                              </div>

                              <div class="col ml-4 mb-2 align-self-center">
                                <a class="article-save" href="{{ url_for('viewpost', recipe_id=item[0]) }}">View Comments</a>
                              </div>
                            </div>
                      </div>
                    {% endfor %}


                    {% if not recipe and profile[0][1] %}
                      <div class="post bg-light p-5 mt-2 mb-4" style="font-size: 1em; color: var(--primary-color);  margin-left: .3em; width:39.3em;">
                        <h1 class="display-4" >No Posts</h1>
                        <p style="font-size: 1em; color: var(--primary-color);"><strong>Welcome to Cuisina!</strong> This Chef has no post yet</p>
                      </div>
                       
                    {% elif not profile[0][1] %}
                      <div class="post bg-light p-5 mt-2 mb-4" style="color: var(--primary-color); margin-left: .3em; width:40em;">
                        <h1 class="display-4" >Finish Sign Up</h1>
                        <p style="font-size: 1em;"><strong>Welcome to Cuisina!</strong> In order for you to finally show the Gordon Ramsay within you
                            please kindly Finish Signing Up</p>
                     </div>
                    {% endif %}      
              </div>
            </div>
            {% else %}
              <a href="{{ url_for('profile', user_id=user[0][0], fltr='recipes') }}" title="{{other_user[0][1]}}" class="rounded-circle prof-btn  mt-1">
                    <img class = "rounded-circle article-img" src="{{ other_user[0][4] }}" style=" height:60px; width: 60px;">
              </a>
              <div class="post friendList  mt-2 bg-light p-3" style="width: 80vw; margin-left: 10em; color: var(--primary-color);">
                    <div class="row head ">
                      <h1 class="col-3">Friends</h1>
                      
                      <div class="col-8 row  ml-auto">
                        <div class="col"></div>
                        <div class="ml-auto col-2 pt-3">
                            <a href="{{ url_for('viewProfile', user_id=other_user[0][0], fltr='recipes') }}" class="a-btn font-weight-bold">Profile</a>
                        </div>
                       
                      </div>
                    </div>
                    <div class="">
                       <div class="row p-2">
                            {% if allFriends %}
                              {% for item in allFriends %}
                              {% if item[0] == user[0][0] %}
                                <div class="col-6 mb-3 p-0 m-0 " style="width: 100%;">
                                  <div class="row p-2 m-2  friend">
                                    <div class="col-4 p-0 m-0">
                                      <a class="ml-3" href="{{ url_for('profile', user_id=item[0], fltr='recipes') }}"><img class = "article-img mr-3" src="{{ item[2] }}" style=" height:120px; width: 120px; border-radius: 5px;"></a>
                                    </div>
                                    <div class="col-2 mr-auto m-0 p-0 pt-3">
                                      <a class="ml-2 username" href="{{ url_for('profile', user_id=item[0], fltr='recipes') }}">{{ item[1] }}</a>
                                    </div>
                                    <div class=" ml-auto">
                                      <img class = "img mt-3 rounded-circle img-fluid" src="{{ url_for('static', filename='rank_images/executive_chef.png') }}"
                                          style="height:5em; width: 7em;">
                                    </div>
                                  </div>
                                </div>
                              {% else %}
                                <div class="col-6 mb-3 p-0 m-0 " style="width: 100%;">
                                  <div class="row p-2 m-2  friend">
                                    <div class="col-4 p-0 m-0">
                                      <a class="ml-3" href="{{ url_for('viewProfile', user_id=item[0], fltr='recipes') }}"><img class = "article-img mr-3" src="{{ item[2] }}" style=" height:120px; width: 120px; border-radius: 5px;"></a>
                                    </div>
                                    <div class="col-2 mr-auto m-0 p-0 pt-3">
                                      <a class="ml-2 username" href="{{ url_for('viewProfile', user_id=item[0], fltr='recipes') }}">{{ item[1] }}</a>
                                    </div>
                                    <div class=" ml-auto">
                                      <img class = "img mt-3 rounded-circle img-fluid" src="{{ url_for('static', filename='rank_images/executive_chef.png') }}"
                                          style="height:5em; width: 7em;">
                                    </div>
                                  </div>
                                </div>
                              {% endif %}      
                              {% endfor %}
                            {% else %}
                                <div class="col ml-3 p-0 m-0" style="width: 100%;">
                                    <div class="display-4 ml-2">All alone?</div>
                                    <p class="ml-4">Find other chefs and add them now!</p>
                                </div>
                            {% endif %}
                          </div>
                    </div>
              </div>
            {% endif %}
                
            
            

            

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/sticky.js') }}"></script>
    <script>
         function readURL(input) {
            if (input.files && input.files[0]) {

              var reader = new FileReader();

              reader.onload = function(e) {
                $('.image-upload-wrap').hide();

                $('.file-upload-image').attr('src', e.target.result);
                $('.file-upload-content').show();

                $('.image-title').html(input.files[0].name);
              };

              reader.readAsDataURL(input.files[0]);

            } else {
              removeUpload();
            }
          }

          function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
          }
          $('.image-upload-wrap').bind('dragover', function () {
                  $('.image-upload-wrap').addClass('image-dropping');
              });
              $('.image-upload-wrap').bind('dragleave', function () {
                  $('.image-upload-wrap').removeClass('image-dropping');
          });
    
    </script>
               
                
{% endblock %}
