{% extends 'layout.html' %}
{% block content %}
	<div class="post bg-light m-3 p-4">
                 <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <img class = "rounded-circle article-img" src="{{url_for('static', filename ='images/default.jpg')}}"style=" height: 60px;width: 60px;">
                          <a class="ml-2 article-author" href="#">{{ recipe.username }}</a>
                          <small class="text-muted">{{recipe.timeDate}}</small>
                           <small class="ml-1 font-weight-bold">{{recipe.cuisine}}</small>
                          <button class="btn mt-3 ml-auto" type="button"><i class='far fa-bookmark'></i></button>
                      </div>
                        <h2><a class="article-title display-4" href="#">{{recipe.title}}</a></h2>
                         {% if recipe.image != None %}
                          <div class="col mb-3 d-flex justify-content-center">
                            <button type="button" class="btn" data-toggle="modal" data-target="#img-modal">
                              <img src="{{ recipe.image }}" alt="" class="article-content align-self-center post-img">
                            </button>
                          </div>
                          <div class="modal fade bd-example-modal-lg" id="img-modal" tabindex="-1" role="dialog"aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" style="height:fit-content; width: fit-content;">
                              <div class="modal-content">
                                <img src="{{ recipe.image }}" alt="" class="article-content align-self-center" style="height: 100%;">
                              </div>
                            </div>
                          </div>
                        {% endif %}
                        <p class="article-content m-3">{{recipe.description}}</p>
                    </div> 
                  </article>
                  <div class="row ml-1">
                    {% if rating %}
                      <div class="star-widget m-0 col-12" id="starfield">
                          <small class="ml-2 mr-auto mr-5 pr-3">Your current Rating of this Recipe</small>
                          {% if rating == 5 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                          {% elif rating == 4 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                          {% elif rating == 3 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          {% elif rating == 2 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          {% elif rating == 1 %}
                           <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          {% else %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          {% endif %}  
                      </div>
                    {% else %}
                        <form method="POST" class="m-0 rate-form row col-12">
                          {{ form.csrf_token }}
                          {{ form_rate.hidden_tag() }}
                          {{ form_rate.rate(class="star-rate p-0", onload="addClass()") }}
                          <div class="ml-2 align-self-center mb-4">{{form_rate.submit(class="btn btn-sm")}}</div>
                      </form> 
                    {% endif %}
                    <form method="POST" class="m-0 rate-form row col-12" id="rate-form">
                          {{ form.csrf_token }}
                          {{ form_rate.hidden_tag() }}
                          {{ form_rate.rate(class="star-rate p-0", onload="addClass()") }}
                          <div class="ml-2 align-self-center mb-4">{{form_rate.submit(class="btn btn-sm")}}</div>
                    </form>     
                  </div>

                  <div class="card p-2 comments">
                      <h1>Comments</h1>
	                    <div class="card-body">
	                    	{% if comments %}
	                    		{% for item in comments %}
		                        <div class="card card-inner">
		                            <div class="card-body bg-light">
		                                <div class="row">
		                                    <div class="col-md-2">
		                                        <img src="{{url_for('static', filename ='images/default.jpg')}}" class="img rounded-circle img-fluid"/>
		                                        <p class="text-secondary text-center">{{ item.timeDate }}</p>
		                                    </div>
		                                    <div class="col-md-10">
		                                        <p><a href="#"><strong>{{ item.user }}</strong></a></p>
		                                        <p>{{ item.content }}</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        {% endfor %}
		                    {% else %}
		                    	<div class="card card-inner">
                                <div class="card-body bg-light">
                                    <div class="row">
                                       <p class="display-4">No Comments</p>
                                    </div>
                                </div>
                            </div>
		                    {% endif %}
	                        <form method="POST">
	                        	{{ form.csrf_token }}
                                {{ form.hidden_tag() }}
	                            <div class="form-group add-comment m-2 mt-4">
                                    {% if form.comment.errors %}
                                        {{ form.comment(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.comment.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.comment(class="form-control form-control-lg comment-field") }}
                                    {% endif %}
                                     {{ form.submit(class="btn m-2 mr-auto") }}   
	                            </div>
	                        </form>
	                    </div>
                  </div>
  </div>
         


        <script type="text/javascript">
          starWidget = document.getElementById("starfield")
          rate = document.getElementById("rate-form")
          function rateform(){
            rate.style.display = "block"
            starWidget.style.display = "None"

          }
        </script>

       
        
{% endblock content %}