:root {
  --alpha: 33%;
  --primary-color: #581b98;
  --primary-hover: #321850;
  --primary-shade: #b075ef;
  --secondary-color: white;
  --secondary-hover: rgb(218, 218, 218);
  --primary-font: "Montserrat", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  background: #e5e5e5 !important;
}

.navbar {
  font-family: var(--primary-font);
  font-weight: 600;
  box-shadow: 1px 1px #888888a9;
}
.navbar input {
  border-radius: 20px;
}
.navbar input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem #571b9857;
}

.navbar .collapse .navbar-nav .nav-item a {
  color: var(--primary-color);
}

.navbar .collapse .navbar-nav .nav-item a:hover {
  background-color: var(--primary-hover);
  color: var(--secondary-color);
}
.navbar .collapse .navbar-nav .nav-item .fas {
  font-size: 20px;
}

.navbar .collapse .navbar-nav .nav-item a:hover .fas {
  color: var(--secondary-color);
}

.navbar .collapse .navbar-nav .nav-item a:active {
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
}

.active {
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
}

/* BODY SECT */
body-sect {
  background-color: #e5e5e5 !important;
}
/*
 SIDEBAR
*/

.body-sect .sidebar {
  position: fixed;
  border-left: 1em solid var(--primary-color);
  padding: 0 0 1em 0.5em;
  width: fit-content;
  height: fit-content;
  color: var(--primary-color);
  font-size: 24px;
}
.body-sect .sidebar .sidebar-info-sect .sidebar-top img {
  height: 50px;
  width: 50px;
}
.body-sect .sidebar .sidebar-info-sect .sidebar-info {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--primary-color);
}
.body-sect .sidebar .sidebar-info-sect a {
  border-radius: 7px;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
}
.body-sect .sidebar .sidebar-info-sect a:hover {
  background-color: #c5c5c5 !important;
  text-decoration: none;
}

.body-sect .sidebar .sidebar-info-sect .active {
  background-color: #c5c5c5 !important;
  color:var(--primary-shade) !important;
  text-decoration: none;
}

.body-sect .sidebar .sidebar-info-sect .sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1em 1em 0;
}

.body-sect .sidebar .sidebar-info-sect .suggested-chef {
  box-shadow: 1px 1px #888888a9;
  margin-top: 0.5em;
  width: 300px;
  border-radius: 0.3em;
  padding: 1em;
  text-align: center;
}
.body-sect .sidebar .sidebar-info-sect .suggested-chef img {
  height: 5em;
  width: 5em;
}

/*POST SECT*/
.body-sect .post-sect {
  margin-left: 25em;
}


  /*

CREATE POST SECT

*/

.body-sect .create-post {
  padding-top: 0.1em;
  border-radius: 10px;
  box-shadow: 1px 1px #888888a9;
}
.body-sect .create-post .account-user {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--primary-color);
}

.body-sect .create-post .btn {
  font-size: 1.5em;
  color: var(--primary-color);
  background-color: rgb(224, 224, 224);
}
.body-sect .create-post .btn:hover {
  background-color: rgb(180, 180, 180);
}
.body-sect .create-post .modal-dialog {
  color: var(--primary-color);
  background-color: #e5e5e5;
}
.body-sect .create-post .modal-dialog label {
  font-size: 1.5em;
}
.body-sect .create-post input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem #571b9857;
}
.body-sect .create-post textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem #571b9857;
}

.body-sect .create-post .modal-dialog .content {
  height: 12em;
  font-size: 1em;
}
.body-sect .create-post .modal-dialog .upload {
    font-size: 1em;
}
.body-sect .create-post .modal-dialog .btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.body-sect .create-post .modal-dialog .btn:hover {
  background-color: var(--primary-hover);
}

.body-sect .dropdown .btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.body-sect .dropdown .btn:hover {
  background-color: var(--primary-hover);
  color: var(--secondary-color);
}


.body-sect .create-post .modal .container {
  padding-top: 50px;
}
/*


POSTS SECT

*/

.body-sect .post {
  border-radius: 10px;
  box-shadow: 1px 1px #888888a9;
}
.body-sect .post a, small{
  color: var(--primary-color);
}
.body-sect .post .post-img {
  height:90%;
  width: 80%;
}
.body-sect .post .article-metadata .btn {
  float: right;
  color: var(--primary-color);
}
.body-sect .post .article-metadata .btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.body-sect .post .article-metadata .saved {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.body-sect .post .article-metadata .disabled-btn {
  border-radius: 5px;
  float: right;
  color: var(--primary-color);
}



.body-sect .post .article-metadata .saved {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


.body-sect .post .article-metadata .btn i {
  font-size: 1em;
}

.star-widget .btn {
  float: right;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.star-widget .btn:hover {
  background-color: var(--primary-hover);
  color: var(--secondary-color);
}

.rate-form .btn {
  float: right;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.rate-form .btn:hover {
  background-color: var(--primary-hover);
  color: var(--secondary-color);
}

.star-widget span{
  color:#e5e5e5 ;
  font-size: 1em;
}

.star-widget .checked{
  color:var(--primary-color);
}

.star-rate{
  list-style: none;
  display: flex;
  margin:none;
}

.star-rate input {
  display: none;
}

.star-rate label {
  font-size: 1.5em;
  color: #e5e5e5;
  padding: 5px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: var(--primary-hover) !important;
}

input:checked ~ label {
  color: var(--primary-color) !important;
}

input#rate-5:checked ~ label {
  color: var(--primary-color) !important;
}

.body-sect .create-post .modal-dialog .file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.body-sect .create-post .modal-dialog .file-upload-btn {
  border: None;
  width: 100%;
  margin: 0;
  color: #fff;
  background: var(--primary-color);
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.body-sect .create-post .modal-dialog .file-upload-btn:hover {
  background: var(--primary-hover);
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.body-sect .create-post .modal-dialog .file-upload-btn:active {
  transition: all 0.2s ease;
  border: None;
}

.body-sect .create-post .modal-dialog .file-upload-content {
  display: none;
  text-align: center;
}

.body-sect .create-post .modal-dialog .file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.body-sect .create-post .modal-dialog .image-upload-wrap {
  margin-top: 20px;
  border: 2px dashed var(--primary-color);
  position: relative;
}
.body-sect .create-post .modal-dialog select:focus {
border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem #571b9857;
}


.body-sect .create-post .modal-dialog .image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.body-sect .create-post .modal-dialog .drag-text {
  text-align: center;
}

.body-sect .create-post .modal-dialog .drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: var(--primary-color);
  padding: 60px 0;
}

.body-sect .create-post .modal-dialog .file-upload-image {
  max-height: 40%;
  max-width: 60%;
  margin: auto;
  padding: 20px;
}

.body-sect .create-post .modal-dialog .remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.body-sect .create-post .modal-dialog .remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.body-sect .create-post .modal-dialog .remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}


/*

COMMENTS SECT

*/


.body-sect .post-sect .comments {
  border:none;
}
 .body-sect .post-sect .comments .card-inner{
  border-top: 0;
  border-left: 0;
  border-right: 0;
}


.body-sect .post-sect .comments h1 {
  color: var(--primary-color);
}

.body-sect .post-sect .comments .comment-field {
  background-color: #e5e5e5;
  font-size: 1em;
  height: 2em;
  transition: height 0.5s;
}
.body-sect .post-sect .comments .comment-field:focus {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem #571b9857;
  height: 5em;
}

.body-sect .post-sect .comments .btn {
  float: right;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.body-sect .post-sect .comments .btn:hover {
  background-color: var(--primary-hover);
  color: var(--secondary-color);
}
