:root {
  --alpha: 33%;
  --primary-color: #581b98;
  --primary-hover: #321850;
  --primary-shade: #b075ef;
  --secondary-color: white;
  --secondary-hover: rgb(218, 218, 218);
  --primary-font: "Montserrat", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  background: #e5e5e5;
}

.navbar {
  font-family: var(--primary-font);
  font-weight: 600;
  box-shadow: 1px 1px #888888a9;
}
.navbar input {
  border-radius: 20px;
}
.navbar input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem #571b9857;
}

.navbar .collapse .navbar-nav .nav-item a {
  color: var(--primary-color);
}

.navbar .collapse .navbar-nav .nav-item a:hover {
  background-color: var(--primary-hover);
  color: var(--secondary-color);
}
.navbar .collapse .navbar-nav .nav-item .fas {
  font-size: 20px;
}

.navbar .collapse .navbar-nav .nav-item a:hover .fas {
  color: var(--secondary-color);
}

.navbar .collapse .navbar-nav .nav-item a:active {
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
}

.active {
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
}

/*  


BODY SECT 


*/

.body-sect {
  background-color: #e5e5e5 !important;
}
/*
 SIDEBAR

*/

.body-sect .sidebar {
  position: fixed;
  border-left: 1em solid var(--primary-color);
  padding: 0 0 1em 0.5em;
  width: fit-content;
  height: fit-content;
  color: var(--primary-color);
  font-size: 24px;
}
.body-sect .sidebar .sidebar-info-sect .sidebar-top img {
  height: 50px;
  width: 50px;
}
.body-sect .sidebar .sidebar-info-sect .sidebar-info {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--primary-color);
}
.body-sect .sidebar .sidebar-info-sect a {
  border-radius: 7px;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
}
.body-sect .sidebar .sidebar-info-sect a:hover {
  background-color: #c5c5c5 !important;
  text-decoration: none;
}
.body-sect .sidebar .sidebar-info-sect .sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1em 1em 0;
}

.body-sect .sidebar .sidebar-info-sect .suggested-chef {
  box-shadow: 1px 1px #888888a9;
  margin-top: 0.5em;
  width: 300px;
  border-radius: 0.3em;
  padding: 1em;
  text-align: center;
}
.body-sect .sidebar .sidebar-info-sect .suggested-chef img {
  height: 5em;
  width: 5em;
}

/*

CREATE POST SECT

*/

.body-sect .create-post {
  padding-top: 0.1em;
  border-radius: 10px;
  box-shadow: 1px 1px #888888a9;
}
.body-sect .create-post .account-user {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--primary-color);
}

.body-sect .create-post .btn {
  font-size: 1.5em;
  color: var(--primary-color);
  background-color: rgb(224, 224, 224);
}
.body-sect .create-post .btn:hover {
  background-color: rgb(180, 180, 180);
}
.body-sect .create-post .modal-dialog {
  color: var(--primary-color);
  background-color: #e5e5e5;
}
.body-sect .create-post .modal-dialog label {
  font-size: 1.5em;
}
.body-sect .create-post input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem #571b9857;
}
.body-sect .create-post textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem #571b9857;
}

.body-sect .create-post .modal-dialog .upload-btn {
  font-size: 1em;
}
.body-sect .create-post .modal-dialog .btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.body-sect .create-post .modal-dialog .btn:hover {
  background-color: var(--primary-hover);
}

.body-sect .dropdown .btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.body-sect .dropdown .btn:hover {
  background-color: var(--primary-hover);
  color: var(--secondary-color);
}

.body-sect .create-post .modal .preview-images-zone {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 180px;
  /* display: flex; */
  padding: 5px 5px 0px 5px;
  position: relative;
  overflow: auto;
}
.body-sect
  .create-post
  .modal
  .preview-images-zone
  > .preview-image:first-child {
  height: 185px;
  width: 185px;
  position: relative;
  margin-right: 5px;
}
.body-sect .create-post .modal .preview-images-zone > .preview-image {
  height: 90px;
  width: 90px;
  position: relative;
  margin-right: 5px;
  float: left;
  margin-bottom: 5px;
}
.body-sect
  .create-post
  .modal
  .preview-images-zone
  > .preview-image
  > .image-zone {
  width: 100%;
  height: 100%;
}
.body-sect
  .create-post
  .modal
  .preview-images-zone
  > .preview-image
  > .image-zone
  > img {
  width: 100%;
  height: 100%;
}
.body-sect
  .create-post
  .modal
  .preview-images-zone
  > .preview-image
  > .tools-edit-image {
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}
.body-sect
  .create-post
  .modal
  .preview-images-zone
  > .preview-image
  > .image-cancel {
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.body-sect .create-post .modal .preview-image:hover > .image-zone {
  cursor: move;
  opacity: 0.5;
}
.body-sect .create-post .modal .preview-image:hover > .tools-edit-image,
.body-sect .create-post .modal .preview-image:hover > .image-cancel {
  display: block;
}
.body-sect .create-post .modal .ui-sortable-helper {
  width: 90px !important;
  height: 90px !important;
}

.body-sect .create-post .modal .container {
  padding-top: 50px;
}
/*


POSTS SECT

*/
.body-sect .post-sect {
  margin-left: 25em;
}

.body-sect .post {
  border-radius: 10px;
  box-shadow: 1px 1px #888888a9;
}
.body-sect .post a {
  color: var(--primary-color);
}
.body-sect .post .article-metadata .btn {
  float: right;
  color: var(--primary-color);
}
.body-sect .post .article-metadata .btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.body-sect .post .article-metadata .btn i {
  font-size: 25px;
}

.body-sect .post .media-body .article-img {
  height: 4em;
  width: 4em;
}

.body-sect .post .media-body a {
  font-size: 1.2em;
}

.body-sect .post .rate {
  padding: 0;
  height: 46px;
}
.body-sect .post .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.body-sect .post .rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
}
.body-sect .post .rate:not(:checked) > label:before {
  content: "★ ";
}
.body-sect .post .rate > input:checked ~ label {
  color: var(--primary-color);
}
.body-sect .post .rate:not(:checked) > label:hover,
.body-sect .post .rate:not(:checked) > label:hover ~ label {
  color: var(--primary-hover);
}
.body-sect .post .rate > input:checked + label:hover,
.body-sect .post .rate > input:checked + label:hover ~ label,
.body-sect .post .rate > input:checked ~ label:hover,
.body-sect .post .rate > input:checked ~ label:hover ~ label,
.body-sect .post .rate > label:hover ~ input:checked ~ label {
  color: var(--primary-hover);
}
